# Build artifacts
build/
*.exe
*.o
*.obj
*.pdb
*.ilk

# Database & CSV Data
data/*.db
data/*.csv
data/*.txt
data/*.log

# Exceptions for data (keep folder structure)
!data/
!data/.gitkeep

# IDEs
.vscode/
.idea/
.clangd/
.antigravity/


